<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="stud" class="com.kodewala.spring_bean_xml_proj2.Student">
    
    		<property name="studentId" value="11"/>
    		<property name="name" value="Nikhil"/>
    		<property name="age" value="23"/>
    		<property name="gender" value="male"/>
    
    </bean>
    <bean id="tech" class="com.kodewala.spring_bean_xml_proj2.Teacher">
    
    		<property name="teacherId" value="2314"/>
    		<property name="teacherName" value="Anuska"/>
    
    </bean>
    

</beans>